<div class="page-header">
  <div class="container"><h1>About Us</h1></div>
</div>
<div class="container pb-4">
  <div class="row g-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-custom">About the School</div>
        <div class="card-body">
          <p class="text-justify">
            Gurukul Academy is located in Dehwa, Mohanlalganj, Lucknow. The school is affiliated to CBSE Board, New Delhi.
            The school began its journey in 2011 when it was imparting the education till standard VII. With the passage of
            time Gurukul Academy has shown its glory and has now reached the position of educating children upto standard XII
            with streams like Science, Commerce &amp; Arts.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-custom">Vision &amp; Mission</div>
        <div class="card-body">
          <p class="text-justify">
            To impart education affectionately to the largest possible number of students, to liberate from narrow bookishness
            by providing individually comprehensive, Socially productive and morally conducive education. Special emphasis is
            laid on holistic development, active and dynamic learning and teaching environment, opportunity to release students'
            potential and achieve academic Excellence for complete development of students' personality. Extra curricular
            activities are given special attention.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
